* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: ;
	color: ;
	font-family: 'Lato', sans-serif;
	font-size: ;
	font-weight: ;
	text-redering: optimizeLegibility;
}

p {
	font-family: Freight;
	color: #515e65;
	font-size: 1.1em;
}

a {
	text-decoration: none;
}


@font-face { font-family: Freight; src: url('../fonts/freight-sans-book.otf'); } 

.container {
	max-width: 1080px;
	width: 90%;
	margin: auto;
	min-height: 100%;
}

/* Navigation */

.menu {
	margin-top: 30px;
}

.menu img {
	float: left;
	width: 70px;
}

.menu:hover {
	cursor: pointer;
}


.nav {
	padding-top: 17px;
}

.nav-item {
	display: inline-block;
	float: right;
	margin-right: 30px;
	color: #989899;
	font-family: Freight;
	transition: all .5s;
}

.nav-item:hover {
	font-weight: 1000;
	color: #57BB90
}

/* Landing Container*/



























